/* Container for the terminal window */
.terminal {
    background-color: #1e1e1e;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    max-width: 1300px;
    margin: 50px auto;
    border-radius: 18px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .highlight {
    color: #5143ba;; /* Change this to the color you want */
    font-weight: bold; /* Optional: makes the skills bold */
  }
  .welcome{
    color:rgb(17, 225, 111);
    font-size: large;
    font-weight: 500;
  }
  .red{
    color:rgb(192, 63, 63);
  }
  /* Terminal header with mac-style buttons */
  .terminal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #323232;
  }
  
  .buttons {
    display: flex;
    gap: 8px;
  }
  
  .buttons span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  .close-btn {
    background-color: #ff5f56;
  }
  
  .minimize-btn {
    background-color: #ffbd2e;
  }
  
  .maximize-btn {
    background-color: #27c93f;
  }
  .input-box {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
  }
  
  .submit-btn {
    padding: 5px 10px;
    margin-left: 5px;
  }
  
  .terminal-title {
    color: #ccc;
    font-size: 18px;
    text-align: center;
    flex-grow: 1;
  }
  
  /* Terminal body for displaying text */
  .terminal-body {
    padding: 20px;
    font-size: 16px;
    line-height: 2;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  pre {
    margin: 0;
    white-space: pre-wrap; /* Text wraps within the container */
    overflow-wrap: break-word; /* Break long words if needed */
  }

  .input-line {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace; /* Terminal font */
    color: #00ff00; /* Green color for terminal */
    white-space: nowrap; /* Prevent wrapping */
    overflow-wrap: normal; /* Ensure input doesn't break */
    margin-left: 5px;
    vertical-align: bottom;
  }
  
  .cursor {
    display:inline-block;
    width: 2px; /* Width of the cursor */
    height: 1em;
    background-color: #00ff00; /* Color of the cursor */
    animation: blink 1s step-end infinite; /* Blinking effect */
  }
  
  @keyframes blink {
    50% {
      background-color: transparent; /* Cursor disappears */
    }
  }
  
  
  