/* General Container */
.home-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;;
  overflow-x: hidden;
  /* background: linear-gradient(to right, #090909, #050505); */
  background: linear-gradient(to right, #e6e6fa, #d8bfd8);
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}