.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    background-color: #e2e3f1ee;
    border-radius: 35px;
    margin-left: -25px;
    margin-top:-8px;
    margin-right: -8px;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem;
  }
  
  .image-container {
    border-radius: 50%;
    overflow:hidden;
    width: 300px;
    height: 300px;
    box-shadow: 10px 84px 10px rgba(0, 0, 0, 0.1);
    margin-right: 6rem;
    margin-left: 4rem;
  }
  .text-content {
    flex: 1;
    text-align: left;
  }
  
  .text-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4c4c4c;
  }
  
  .text-content h1 span {
    color: #5143ba;
  }
  
  .text-content p {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 1.5rem;
  }
  
  .button {
    display: inline-block;
    background-color: #7d4ded;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 4rem;
    cursor:pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .button:hover {
    background-color: #5a2bbb;
    transform: scale(1.3);
  }
  
  .social-icons {
    display: inline-flex;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #7d4ded;
    font-size: 1.5rem;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .social-icons a:hover {
    background-color: #7d4ded;
    color: white;
    transform: scale(1.3);
  }
  