/* Hamburger and X icon styles with animation */
.menu-icon {
  cursor: pointer;
  color: #c5b1d9;
  font-size: 40px;
  position: fixed;
  top: 40px;
  left: 35px;
  z-index: 100;
  transition: transform 0.4s ease;
  z-index: 9999;
}

.menu-icon.open {
  transform: rotate(90deg); /* Rotate when open */
  color: aliceblue;
}
/* Hide the sidebar by default */
.sidebar {
  height: 100vh;
  /* border-radius: 25px; */
  width: 87px;
  position: fixed;
  /* top: 5px; */
  left: 1px;
  /* background-color: #8057e0; */
  background: linear-gradient(to bottom,#271286, #1f4564,#9b6bd7);
  transition: width 0.4s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  z-index: 9998; 
}

/* Expands the sidebar on hover */
.sidebar:hover {
  width: 150px;
}

.initials-div {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: bolder;
  color: white;
  background-color: rgb(103, 79, 209);
}

.nav-links-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.nav-link {
  color: white;
  text-decoration: none;
  width: auto;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.2s ease;
  border-radius: 15px;
}

.nav-link:hover {
  background-color: #4c4a50da;
  padding-left: 20px;
  font-size: large;
  color: rgba(201, 194, 202, 0.376);
  font-weight: bolder;
}

.nav-link span {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.sidebar:hover .nav-link span {
  opacity: 1;
}

.icon {
  font-size: 20px;
  min-width: 40px;
  display: flex;
  justify-content: center;
}

.scroll-arrow {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}
