/* Profile Section */
.profile-section {
    z-index: 9999;
    display: flex;
    align-items:center;
    /* max-width: 1200px; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 2rem;
    /* margin-bottom: 3rem; */
    height: 100vh;
    width: 100vw;
    padding-left: 20rem;
    background: linear-gradient(to bottom, #031d49, #3c075b, #4f23a0, #ccb6cc, #9974d0); 
  }
  /* background: linear-gradient(to bottom, #2b3790, #414caf, #6841b1, #e987e9, #9974d0);  */

  .image-container {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    box-shadow: 10px 84px 10px rgba(0, 0, 0, 0.1);
    margin-right: 6rem;
    margin-left: 4rem;
  }
  
  .text-content {
    flex: 1;
    text-align: left;
  }
  
  .text-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f8f4f4;
  }
  
  .text-content h1 span {
    color: #5667b8;
  }
  
  .text-content p {
    font-size: 1.2rem;
    color: #8da7bd;
    margin-bottom: 1.5rem;
  }
  
  .social-icons {
    display: inline-flex;
    gap: 2rem;
    margin-top: 2.5rem;
    margin-left: 3.5rem;
  }
  
  .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #7d4ded;
    font-size: 1.5rem;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .social-icons a:hover {
    background-color: #7d4ded;
    color: white;
    transform: scale(1.3);
  }