.skills-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    height: 70vh; /* Adjust height as needed */
    width: 100vw;
    overflow: hidden;
  }
  
  .skills-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    z-index: 2; /* Ensure content is above the background */
    width: 100%;
    max-width: 1200px;
    margin-top: 40px;
  }
  
  .icon-cloud {
    flex: 1;
    max-width: 50%; /* Adjust to make space for the text on the right */
    margin-top: 0;
    margin-left: 350px; /* Adjust spacing as needed */
    position: relative; /* Ensure it has a proper stacking context */
    z-index: 1; /* Ensure the icon cloud is above the background but below content */
  }
  
  .skills-header {
    z-index: 3; /* Ensure header is above everything */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 2rem;
    font-size: 4rem; /* Adjust font size as needed */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 2s ease;
    font-weight: bold; /* Make the font bold */
    background: linear-gradient(to right, #f00, #00f); /* Apply gradient from red to blue */
    -webkit-background-clip: text; /* Make background clip to text */
    -webkit-text-fill-color: transparent; /* Make text color transparent for gradient effect */
  }
  
  
  .skills-header.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .skills-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #05243c, #190119, #24045f, #530578, #2b3790);
    opacity: 1;
    z-index: 0; /* Keep background behind everything */
    display: block;
  }
  
  .skill-background-text {
    position: absolute;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.1);
    white-space: nowrap;
    pointer-events: none;
    animation: float 30s infinite;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .skill-background-text.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(20px);
    }
  }
  